body{background-color: #0B0B0A}
h1{color: lavender; padding: 5%}
ol{color: lavender; margin-left: 5%; font-size: 30px; }
table{background-color: lavender; text-align: center; border-radius: 10px; height: 350px;}

td{font-size: 20px;
font-weight: bold;
  color: #0B0B0A;
  transition: all .5s;
  border: 5px groove;
  border-color: LightCyan;
  border-radius: 10px;
}

td:hover {
  color: #DC6A84;
  border: 5px outset;
  border-color: #0B0B0A;
  border-radius: 10px;
  transition: all .5s;
}

div{

background-color: #3B3B3B;
text-color: white;
min-width: 100%; min-height: 100%; position: relative; }

img.link{height: 30px; width: 30px;}

a{white-space: nowrap;}